<div class="row g-3">
  <div class="col-sm-12">
    <label for="street" class="form-label">Street</label>
    <input type="text" class="form-control" id="street" name="street" placeholder="Your street" value="{$user.street|default:""}">
  </div>
</div>

  
<div class="row g-3 mt-1">
  <div class="col-sm-12">
    <label for="number" class="form-label">House number</label>
    <input type="text" class="form-control" id="number" name="number" placeholder="Your house number" value="{$user.number|default:""}">
  </div>
</div>

<div class="row g-3 mt-1">
  <div class="col-sm-12">
    <label for="zip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="zip" name="zip" placeholder="Your ZIP code" value="{$user.zip|default:""}">
  </div>
</div>

<div class="row g-3 mt-1 mb-5">
  <div class="col-sm-12">
    <label for="city" class="form-label">City</label>
    <input type="text" class="form-control" id="city" name="city" placeholder="Your city name" value="{$user.city|default:""}">
  </div>
</div>