<div class="row g-3 ">
  <div class="col-sm-12">
    <label for="first_name" class="form-label">First name</label>
    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Your first name" value="{$user.first_name|default:""}">
  </div>
</div>

<div class="row g-3 mt-1">
  <div class="col-sm-12">
    <label for="last_name" class="form-label">Last name</label>
    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Your last name" value="{$user.last_name|default:""}">
  </div>
</div>

<div class="row g-3 mt-1 mb-5">
  <div class="col-12">
    <label for="phone" class="form-label">Phone</label>
    <input type="text" class="form-control" id="phone" name="phone" placeholder="Your Phone" value="{$user.phone|default:""}">
  </div>
</div>