<div class="row g-3">
  <div class="col-sm-12">
    <label for="account_owner" class="form-label">Account owner</label>
    <input type="text" class="form-control" id="account_owner" name="account_owner" placeholder="Account owner" value="{$user.account_owner|default:""}">
  </div>
</div>

<div class="row g-3 mt-1 mb-5">
  <div class="col-sm-12">
    <label for="iban" class="form-label">IBAN</label>
    <input type="text" class="form-control" id="iban" name="iban" placeholder="IBAN" value="{$user.iban|default:""}">
  </div>
</div>